.home-show-product-container{
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.home-show-product-group-container{
  display: flex;
  flex-direction: column;
}

.home-show-product-group{
  display: flex;
  flex-wrap: wrap;

  background: #F8EEDB;
  border: 1px solid #f8eedba9;
  margin: 1rem 1rem;
  width: 100%;
}

.menu_none{
  margin: 2rem;

  width: 90%;
  height: 15rem;
}

.home-container{
  display: flex;
}

.home-menu-shopping-cart{
 width: 30%;

 padding: 0.255rem;
 font-size: 1rem;
 background: #fff;
 border: 1px solid rgba(77, 57, 57, 0.303);

 display: flex;
 flex-direction: column;
}
.home-menu-shopping-cart h1{
  font-size: 1.5rem;
 margin-left: 1rem;
}

.card-shopping-cart-value{
  font-size: 1rem;
  font-weight: 500;
}

.card-shopping-cart-total-value-button{
  display: flex;
  justify-content: center;

  margin: 1rem 0;
  padding: 0.255rem;
  font-size: 1rem;
   background: #f03c1d;
  border: 1px solid rgba(77, 57, 57, 0.303);

  cursor: pointer;

}
.card-shopping-cart-close-value-button{
  display: flex;
  justify-content: center;

  margin: 1rem 0;
  padding: 0.255rem;
  font-size: 1rem;
   background:#04d483;
  border: 1px solid rgba(77, 57, 57, 0.303);

  cursor: pointer;
}
.card-shopping-cart-close-value-button:hover{
  color: #fff;
}

.home-menu-finalizingThePurchase{
  width: 70%;

  display: flex;
  flex-direction: column;

  margin-left: 1rem;
}

.finalizingThePurchase{
  width: 10rem;
}

.card-shopping-cart-close-value-payment-pix-show-img img{
  border-radius: 10%;
}

.card-shopping-cart-close-value-payment-pix-img {
  display: flex;
  justify-content: center;

  margin: 1rem 0;
  padding: 0.355rem;
  font-size: 1rem;

  color: #000;
   background: crimson;
  border: 1px solid rgba(77, 57, 57, 0.303);

  width: 19rem;

  cursor: pointer;
}
.card-shopping-cart-close-value-payment-pix-img:hover{
  color: #fff;
  background: rgb(209, 50, 81);
}

.card-shopping-cart-close-value-payment-pix-img-button{
  display: flex;
  margin: 1rem 1rem;
}
.card-shopping-cart-close-value-payment-pix-img-button button{
  padding: 0.5rem;
  font-size: 1rem;
  background-color: #04d483;
  border: #048654;
}
.card-shopping-cart-close-value-payment-pix-img-button button:hover{
  color: #fff;
}

.card-shopping-cart-close-value-payment-pix-confirm-message{
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  background-color: #04d483;
  border: #048654;
}