
.ListCustomeOrder-container{
  margin: 1rem 1rem;
}

.ListCustomeOrder-show-info-customerOrders{
  display: flex;
  flex-direction: column;

  border: 1px solid #000;
}
.ListCustomeOrder-show-info-customerOrders-user{
  display: flex;
}
.ListCustomeOrder-show-info-customerOrders-date{
  border-top: none;
  border-left: none;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;

  margin-right: 1rem;
  height: 2rem;
  padding: 1rem;
}
.ListCustomeOrder-show-info-customerOrders-products{
  display: flex;
}
.ListCustomeOrder-show-info-customerOrders-products h4{
  margin-left: 2rem;
}

.ListCustomeOrder-show-info-customerOrders-formOfPayment{
  margin-left: 3rem;
  display: flex;
}
.ListCustomeOrder-show-info-customerOrders-formOfPayment-text{
  display: flex;
  flex-direction: column;
}
.ListCustomeOrder-show-info-customerOrders-formOfPayment div{
  margin-left: 3rem;
}
.ListCustomeOrder-show-info-customerOrders-formOfPayment-img img{
  width: 9rem;
  height: 9rem;
  cursor: pointer;
}

.showPhoto img{
  position: absolute;
  cursor: pointer;
  width: 17rem;
  height: 17rem;
}

.ListCustomeOrder-show-info-customerOrders-buy-button{
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
}
.ListCustomeOrder-show-info-customerOrders-buy-button-register button{
  border: 1px solid #202020;
  margin-bottom: 1rem;
    padding: 1rem;
    color: #10a310;
    background: #fff;
    transition: 1s;
}
.ListCustomeOrder-show-info-customerOrders-buy-button-register button:hover{
  background-color: #10a310;
  color: #fff;
  border: none;
}
.ListCustomeOrder-show-info-customerOrders-buy-button-cancel button{
  border: 1px solid #202020;
  margin-bottom: 1rem;
    padding: 1rem;
    color: #a84534;
    background: #fff;
    transition: 1s;
}
.ListCustomeOrder-show-info-customerOrders-buy-button-cancel button:hover{
  background-color: #a84534;
  color: #fff;
  border: none;
}
.ListCustomeOrder-message{
  border: none;
  background: #04d483;
  color: #fff;
  padding: .5rem;
}